section.it-advantages
	.it-advantages__top
		.it-container
				.it-all-title
					|    Преимущества медицинского центра Anadolu
				.it-all-subtitle
					|    В стационаре вместе с пациентом бесплатно может проживать родственник или близкий человек.
					br
					| МЦ «Анадолу» — это оптимальный выбор клиники для тех, кто нуждается в лечении онкологии за рубежом.
				ul.it-advantages__wrap
					li.it-advantages__item
						.it-advantages__title
							|	Технологии
						.it-advantages__desc
							|	Уровень медицинской квалификации врачей и технологий лечения не уступает клиникам США
						a(href="static/img/anadolu/advantages/1_big.jpg" data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/1.jpg", alt='').it-advantages__img
						a(href="static/img/anadolu/advantages/2_big.jpg"	data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/2.jpg", alt='').it-advantages__img
					li.it-advantages__item
						.it-advantages__title
							|	Опытные врачи
						.it-advantages__desc
							|	Большинство врачей МЦ «Анадолу» работали, учились и повышают квалификацию в клиниках США и Европы
						a(href="static/img/anadolu/advantages/3_big.jpg" data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/3.jpg", alt='').it-advantages__img
						a(href="static/img/anadolu/advantages/4_big.jpg" data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/4.jpg", alt='').it-advantages__img
					li.it-advantages__item
						.it-advantages__title
							|	Сервис
						.it-advantages__desc
							|	Поможем оформить документы для перелета, встретим в аэропорту, заселим в отель, закрепим за вами бесплатного переводчика.
						a(href="static/img/anadolu/advantages/5_big.jpg" data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/5.jpg", alt='').it-advantages__img
						a(href="static/img/anadolu/advantages/6_big.jpg" data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/6.jpg", alt='').it-advantages__img
					li.it-advantages__item
						.it-advantages__title
							|	Ведение пациента
						.it-advantages__desc
							|	После лечения продолжим бесплатно консультировать по любым вопросам
						a(href="static/img/anadolu/advantages/7_big.jpg" data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/7.jpg", alt='').it-advantages__img
						a(href="static/img/anadolu/advantages/8_big.jpg" data-fancybox rel="advantages").it-advantages__img-box
							img(src="static/img/anadolu/advantages/8.jpg", alt='').it-advantages__img
	.it-advantages__bottom
		.it-container
			.it-advantages__text
				|    У «Анадолу» два сертификата и награда Европейского сообщества медицинской онкологии ESMO (European Society for Medical Oncology), аккредитация Объединенной международной комиссии США (JCI) — системы международной сертификации в области медицины.
			ul.it-advantages__list
				li.it-advantages__list-item
					.it-advantages__list-img-box
						img(src="static/img/anadolu/advantages/1.png", alt='').it-advantages__list-img
				li.it-advantages__list-item
					.it-advantages__list-img-box
						img(src="static/img/anadolu/advantages/2.png", alt='').it-advantages__list-img