section.it-advantages-main
	.it-container
		.it-advantages-main__wrap
			ul.it-advantages-main__list
				li.it-advantages-main__item.it-advantages-main__item--icon-1
					.it-advantages-main__top
						.it-advantages-main__img-box
							img(src="static/img/anadolu/advantages-main/1.svg", alt='').it-advantages-main__img
					.it-advantages-main__content
						.it-advantages-main__desc
							|    МЦ «Анадолу» работает в партнерстве
							br
							| со всемирно известной клиникой имени Джона Хопкинса,
							br
							| г. Балтимор, США
				li.it-advantages-main__item.it-advantages-main__item--icon-2
					.it-advantages-main__top
						.it-advantages-main__img-box
							img(src="static/img/anadolu/advantages-main/2.svg", alt='').it-advantages-main__img
					.it-advantages-main__content
						.it-advantages-main__desc
							|	МЦ «Анадолу» вошел в ТОП 10 лучших клиник мира в 2017 году согласно независимому Международному Альянсу Качества Медицинского Туризма (MTQUA)