section.it-answers
	.it-container
		.it-all-title
			|    Ответы на часто задаваемые вопросы
		.it-all-subtitle
			|    Для вашего удобства мы собрали наиболее частые вопросы пациентов и ответили на них.
			br
			| Если не нашли ответа на свой вопрос,&#32;
			a(href="#it-modal-callback" data-fancybox=).it-all-link
				| свяжитесь с нашим региональным представителем.
		.it-answers__wrap
			ul.it-answers__list(data-it-accord-wrap='')
				li.it-answers__item
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Вы точно сможете помочь? Даете ли вы гарантии на лечение?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Гарантии в лечении онкологических заболевание дать сложно, здесь нужно учитывать стадию заболевания, возраст, состояние пациента и т.д.
							br
							| Конечно, если к нам поступил пациент с операбельной опухолью и без метастаз, то 100 % гарантию мы можем дать, если же к нам поступил запрос о то, что у пациента 4 стадия, метастазы везде, где только можно, то ни о каком выздоровлении мы не можем вести речь, в данном случае если это возможно, то будет рекомендована паллиативная помощь, т.е. продления жизни, на год, два, три, пять.
				li.it-answers__item
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Какие методы лечения используются в вашей клинике?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    1. Хирургический метод лечения. (Операция)
							br
							| 2. Проведение Химиотерапии, таргетной химиотерапии.
							br
							| 3. Проведение лучевой терапии, (Система Трубим и Кибер нож)
				li.it-answers__item
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Существует ли внутренняя рассрочка на лечение?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Все услуги оплачиваются напрямую в кассу клиники в Стамбуле. Клиника не просит предоплату за лечение. Но если человеку необходимо оплатить лечение  из РФ, то выставляется счет от клиники, человек идет в банк и оплачивает данный счет, в этот же день в клинику поступают деньги на депозитный счет пациента. Внутренней рассрочки лечения на текущий момент не существует.
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Какое количество сопровождающих вы можете разместить вместе с пациентом?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Были случаи, когда приезжали целыми семьями. В стационаре с пациентом может проживать один человек, в отеле ограничений по количеству нет
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Какие документы необходимо необходимо предоставить, чтобы в клинике смогли оценить лечение?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    1. Отправьте запрос на лечение в Тюменское представительство МЦ Анадолу или позвоните.
							br
							| 2. Наш сотрудник свяжется с Вами.
							br
							| 3. Вышлите необходимые результаты анализов, исследований, эпикризы, снимки и все, что есть на руках.
							br
							| 4. В течении 48 часов Вы бесплатно получите консультацию профессоров МЦ Анадолу, план лечения, и стоимость.
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Чем амбулаторное лечение отличается от стационарного?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							| Пациент амбулаторно принимает химиотерапию, проходит диагностику, сдает анализы и тд, получает лучевую терапию.
							br
							| В стационар пациент попадает обычно для проведения операции.
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title После перелета в Турцию, сколько длится обследование до назначения лечения?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							| 2-3 дня, после этого врач назначет курс лечения
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Сколько в среднем занимает время лечения и реабилитации?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							| Диагностика 2-3 дня.
							br
							| Далее, в зависимости от плана лечения. Например, если у пациента была роботическая простатэктомия, то на 4 день после операции пациента уже выписывают, в среднем послеоперационный срок от 4 до 7 дней.
							br
							| Если операция была «открытая», то срок пребывания пациента в стационаре около 10 дней.
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Какой список анализов нужен для получения «второго мнения»?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							| 1. Отправьте запрос на лечение в Тюменское представительство МЦ Анадолу или позвоните.
							br
							| 2. Наш сотрудник свяжется с Вами.
							br
							| 3. Вышлите необходимые результаты анализов, исследований, эпикризы, снимки и все, что есть на руках.
							br
							| 4. В течении 48 часов Вы бесплатно получите консультацию профессоров МЦ Анадолу, план лечения, и стоимость.
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Что нужно, чтобы пройти лечение по квоте? Куда обращаться?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							| Квоту дает департамент здравоохранения, а не клиника. Были случаи, когда сложных пациентов бесплатно принимали и оперировали, благодаря Фонду Анадолу Групп. В основном, это были дети, которые нуждались в медицинской помощи.
				li.it-answers__all-more(data-show-block="data-it-accord-wrap-item"  data-show-more-button="Скрыть дополнительные  вопросы и ответы" )
						span.it-answers__all-more-text(data-show-more-text)
							|   Показать еще вопросы и ответы