section.it-base-offer
	.it-container.it-container--tablets-full
		.it-base-offer__wrap
			.it-base-offer__half.it-base-offer__half--left
				.it-base-offer__content
					.it-base-offer__title
						|	Лечение рака в Турции
					.it-base-offer__desc
						|    Бесплатная консультация
						br
						| от профессоров клиники о плане
						br
						| и стоимости лечения в
						span
							|	течение 48 часов
					ul.it-base-offer__info-list
						li.it-base-offer__info-item.it-base-offer__info-item--icon-1
							|    МЦ «Анадолу» работает в партнерстве
							br
							| со всемирно известной клиникой имени Джона Хопкинса,
							br
							| г. Балтимор, США
						li.it-base-offer__info-item.it-base-offer__info-item--icon-2
							|	МЦ «Анадолу» вошел в ТОП 10 лучших клиник мира в 2017 году согласно независимому Международному Альянсу Качества Медицинского Туризма (MTQUA)
			.it-base-offer__half.it-base-offer__half--right
				include base-form