section.it-compare
	.it-container.it-container--min
		.it-all-title
			|	Сравнение стоимости лечения в разных странах
		.it-all-subtitle
			|    Цены на лечение в Турции в среднем на 30-50% ниже, чем в европейских клиниках.
			br
			| Ниже приведен график примерных цен на лечение в Турции, Израиле, Германии и США.
		.it-compare__wrap
			ul.it-compare__list
				li.it-compare__item
					.it-compare__column
						.it-compare__numeric
							|	8 000 $
					.it-compare__title
						|	США
				li.it-compare__item
					.it-compare__column.it-compare__column--size-2
						.it-compare__numeric
							|	4 500 $
					.it-compare__title
						|	Израиль
				li.it-compare__item
					.it-compare__column.it-compare__column--size-3
						.it-compare__numeric
							|	3 500 $
					.it-compare__title
						|	Германия
				li.it-compare__item
					.it-compare__column.it-compare__column--size-4
						.it-compare__numeric
							|	2 500 $
					.it-compare__title
						|	Турция
			.it-compare__note
				|	Сравнение цен на онкологическое обследование