section.it-directions
	.it-container
		.it-directions__wrap
				.it-directions__trigger-wrap
					.it-directions__trigger(data-trigger='directions')
						span.it-directions__trigger-line.it-directions__trigger-line--top
						span.it-directions__trigger-line.it-directions__trigger-line--middle
						span.it-directions__trigger-line.it-directions__trigger-line--bottom
					.it-directions__trigger-title
						|	Наши направления
				.it-directions__inner-wrap(data-it-nav="directions")
					ul.it-directions__list
						li
							a(href="#")
								|	Онкологический центр
						li
							a(href="#")
								|    Трансплантация костного мозга
						li
							a(href="#")
								|   Кардиология
						li
							a(href="#")
								|    Нейрохирургия и неврология
						li
							a(href="#")
								|    Женская консультация
						li
							a(href="#")
								|    Диагностика
						li
							a(href="#")
								|    Ортопедия и травматология
						li
							a(href="#")
								|    Стоматология

