section.it-doctors
	.it-container
		.it-all-title
			|	Наши врачи
		.it-all-subtitle
			|    Врачи, медсестры, технический персонал и руководители МЦА проходят регулярное обучение
			br
			| в области безопасности пациентов, управления клиникой и инфекционного контроля.
		ul.it-doctors__wrap.owl-carousel(data-owl-carousel )
			li.it-doctors__item
				.it-doctors__half.it-doctors__half--left
					.it-doctors__video-box
						iframe(width='100%', height='315', src='https://www.youtube.com/embed/rlUp-sVIlhY', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-doctors__half.it-doctors__half--right
					.it-doctors__content
						.it-doctors__title
							|    Недждет Ускент (Necdet Üskent, M.D.)
						.it-doctors__subtitle
							|	Профессор. Врач-онколог Отделения медицинской онкологии МЦ АНАДОЛУ
						.it-doctors__desc
							|    Специализируется на раке молочной железы, женской репродуктивной системы, желудочно-кишечного тракта, легких, лимфомах и множественных миеломах.
							| Окончил медицинский факультет университета Анкары, после чего неоднократно повышал квалификацию в Турции, Швейцарии, Англии и США.
			li.it-doctors__item
				.it-doctors__half.it-doctors__half--left
					.it-doctors__video-box
						iframe(width='100%', height='315', src='https://www.youtube.com/embed/rlUp-sVIlhY', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-doctors__half.it-doctors__half--right
					.it-doctors__content
						.it-doctors__title
							|    Недждет Ускент (Necdet Üskent, M.D.)
						.it-doctors__subtitle
							|	Профессор. Врач-онколог Отделения медицинской онкологии МЦ АНАДОЛУ
						.it-doctors__desc
							|    Специализируется на раке молочной железы, женской репродуктивной системы, желудочно-кишечного тракта, легких, лимфомах и множественных миеломах.
							| Окончил медицинский факультет университета Анкары, после чего неоднократно повышал квалификацию в Турции, Швейцарии, Англии и США.
