section.it-footer
		.it-footer__wrap
			.it-container
				.it-footer__top
					.it-footer__half.it-footer__half--size-1
						a.it-logo(href='/')
							.it-logo__img-box
								img.it-logo__img(src='static/img/anadolu/header/logo.png', alt='logo')
					.it-footer__half.it-footer__half--size-2
						.it-footer__top
							.it-footer__top-half.it-footer__top-half--left
								.it-copyright
									.it-copyright__title
										|	Copyright © 2014 Anadolu Gropu Desk
										|	All Rights Reserved
									a(href="https://iq-adv.ru/" target='_blank').it-copyright__copy
										.it-copyright__copy-text
											|	Сайт разработан:
										.it-copyright__copy-img-box
											img(src="static/img/anadolu/footer/iq-logo.png", alt='').it-copyright__copy-img
					.it-footer__half.it-footer__half--size-3
						.it-second-nav
							ul.it-second-nav__list
								li
									a(href="#")
										|	О центре
								li
									a(href="#")
										|	Отзывы пациентов
								li
									a(href="#")
										|	Наши технологии
								li
									a(href="#")
										|	Найти врача
								li
									a(href="#")
										|	Цены
								li
									a(href="#")
										|	Чек-ап
								li
									a(href="#")
										|	Контакты
					.it-footer__half.it-footer__half--size-4
						.it-location
							|    Российская Федерация
							br
							| Тюменская область, г. Тюмень
							br
							| 625000
							br
							| ул Республики 61, оф. 713
			.it-footer__center
				.it-container
					.it-footer__inner-wrap
						.it-footer__list-title
							| Наши сертификаты
						ul.it-footer__list
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/certificates/1.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/certificates/2.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/certificates/3.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/certificates/4.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/certificates/5.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/certificates/6.jpg", alt='').it-footer__img
			.it-footer__bottom
				.it-container
					.it-footer__inner-wrap
						.it-footer__list-title
							| Наши сертификаты -
						ul.it-footer__list
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/1.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/2.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/3.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/4.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/5.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/6.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/7.png", alt='').it-footer__img
							li.it-footer__item
								a(href="#").it-footer__link
									img(src="static/img/anadolu/footer/partners/8.png", alt='').it-footer__img
section.it-footer-mobile
	.it-container.it-footer__container--mobile
		.it-footer-mobile__wrap
			.it-footer-mobile__title
				|	МЦ «Анадолу»
			a(href="#").it-footer-mobile__link
				| Политика конфиденциальности
			.it-footer-mobile__location
				|    г.Тюмень,
				br
				| ул Республики 61, оф. 713
			a(href="mailto:anadolu.tymen@gmail.com").it-footer-mobile__mail
				|	anadolu.tymen@gmail.com
			.it-footer-mobile__social
				ul.it-footer-mobile__social-list
					li.it-footer-mobile__social-item
						a(href="https://vk.com/anadolu.tyumen" target="_blank").it-footer-mobile__social-link
							img(src="static/img/anadolu/footer/social/1.png", alt='').it-footer-mobile__social-img
					li.it-footer-mobile__social-item
						a(href="https://www.facebook.com/AnadoluMedicalCenter/" target="_blank").it-footer-mobile__social-link
							img(src="static/img/anadolu/footer/social/2.png", alt='').it-footer-mobile__social-img
					//li.it-footer-mobile__social-item
					//	a(href="#").it-footer-mobile__social-link
					//		img(src="static/img/anadolu/footer/social/3.png", alt='').it-footer-mobile__social-img
					//li.it-footer-mobile__social-item
					//	a(href="#").it-footer-mobile__social-link
					//		img(src="static/img/anadolu/footer/social/4.png", alt='').it-footer-mobile__social-img




