header.it-header
		.it-container
			.it-header__wrap
				.it-header__half.it-header__half--left
					a.it-logo(href='/')
						.it-logo__img-box
							img.it-logo__img(src='static/img/anadolu/header/logo.png', alt='logo')
				.it-header__half.it-header__half--right
					.it-header__top
						.it-header__top-half.it-header__top-half--left
							.it-location-main.it--show-mobile
								|    г.Тюмень,
								br
								| ул Республики 61, оф. 713
							.it-time.it--show-mobile
								b
									|	Пн. – Пт.:
								|	с 9:00 до 18:00
							.it-phone
								a(href="tel:+73452739669").it-phone__text
									|    +7 (3452)
									b
										|	73-96-69
								a(href="tel:+79199348155").it-phone__text
									|    +7 (3452)
									b
										|	934-81-55
						.it-header__top-half.it-header__top-half--right
							.it-header__buttons
								a(href="#it-modal-callback" data-fancybox).it-header__btn.it-btn
									|    Заказать звонок
					.it-header__bottom
						include nav
