section.it-modal#it-modal-questionary
	include base-form

section.it-modal.it-modal--size#it-modal-callback
	.it-modal__wrap
		.it-modal__top
			.it-modal__half.it-modal__half--left
				.it-modal__img-box
					img(src="static/img/anadolu/modal/1.png", alt='').it-modal__img
			.it-modal__half.it-modal__half--right
				.it-modal__title
					|	Обратный звонок
				.it-modal__desc
					|    Оставьте контактные данные,
					| и мы вам перезвоним в течении 15 минут!
		.it-modal__content
			form.it-callback__form(action="", method="post")
				.it-modal__callback-title
					|	Ваше имя:
				.it-modal__callback-half
					input.it-callback__input(type="text" name='NAME', maxlength='200', value='', placeholder='Имя и фамилия', required)
				.it-modal__callback-title
					|   Ваш телефон: Ваше имя:
				.it-modal__callback-half
					input.it-callback__input(type='tel', name='PHONE', maxlength='200', value='', placeholder='Ваш телефон', data-phone='true', required,)
				.it-checkbox-wrap.it-callback__checkbox-wrap.it-modal__checkbox-wrap
					label.it-checkbox
						input.it-checkbox__default(type="checkbox" name="AGREE" checked)
						span.it-checkbox__pseudo
						span.it-checkbox__text
							|    Подтверждаю свое согласие на обработку
							|	персональных данных
				a(href="").it-btn.it-callback__btn Отправить
					.it-form__success
						| Спасибо!
						br
						|  Ваша заявка принята.

section.it-modal.it-modal-privacy#it-modal-privacy
	.it-modal-privacy__wrap
		.it-modal-privacy__title
			|    Политика обработки персональных данных
		p
			|    Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:
		p
			|    Осуществление клиентской поддержки
			| Получения Пользователем информации о маркетинговых событиях
			| Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.
			br
			|    Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя/Покупателя такая как:
		p
			| - Фамилия, Имя, Отчество
			br
			| - Дата рождения
			br
			| - Контактный телефон
			br
			| - Адрес электронной почты
			br
			| - Почтовый адрес
		p
			|    Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
		p
			|    Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
		p
			|	1. По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ
		p
			|    2. Стратегическим партнерам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.
		p
			|	Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.