nav.it-main-nav
	.it-nav__trigger(data-trigger="nav")
		span.it-nav__trigger-line.it-nav__trigger-line--top
		span.it-nav__trigger-line.it-nav__trigger-line--middle
		span.it-nav__trigger-line.it-nav__trigger-line--bottom
	.it-main-nav__wrap(data-it-nav="nav")
		ul.it-main-nav__list
			li
				a(href="#")
					img(src="static/img/anadolu/header/home.svg", alt='')
			li
				a(href="#")
					|	О центре
			li
				a(href="#")
					|	Отзывы пациентов
			li
				a(href="#")
					|	Наши технологии
			li
				a(href="#")
					|	Найти врача
			li
				a(href="#")
					|	Цены
			li
				a(href="#")
					|	Чек-ап
			li
				a(href="#")
					|	Контакты
