section.it-news
	.it-all-title
		|	Статьи и новости
	.it-container.it-container--full
		.it-news__wrap
			ul.it-news__list.owl-carousel(data-add-owl-carousel=)
				li.it-news__item
					.it-news__top
						.it-news__date
							|	22 сентября 2017 года
						.it-news__title
							|	Круглый стол, посвященный теме нейрохирургии
					.it-news__img-box
						img(src="static/img/anadolu/news/1.jpg", alt='').it-news__img
					.it-news__bottom
						.it-news__desc
							|	Прошла встреча специалистов из Стамбула и администраторов Федерального Центра Нейрохирургии.
						a(href="#").it-news__link
							|	Читать дальше
				li.it-news__item
					.it-news__top
						.it-news__date
							|	22 сентября 2017 года
						.it-news__title
							|	Круглый стол, посвященный теме нейрохирургии
					.it-news__img-box
						img(src="static/img/anadolu/news/1.jpg", alt='').it-news__img
					.it-news__bottom
						.it-news__desc
							|	Прошла встреча специалистов из Стамбула и администраторов Федерального Центра Нейрохирургии.
						a(href="#").it-news__link
							|	Читать дальше
				li.it-news__item
					.it-news__top
						.it-news__date
							|	22 сентября 2017 года
						.it-news__title
							|	Круглый стол, посвященный теме нейрохирургии
					.it-news__img-box
						img(src="static/img/anadolu/news/1.jpg", alt='').it-news__img
					.it-news__bottom
						.it-news__desc
							|	Прошла встреча специалистов из Стамбула и администраторов Федерального Центра Нейрохирургии.
						a(href="#").it-news__link
							|	Читать дальше
			a(href="#").it-news__show-more
				|	Смотреть все новости