section.it-price
	.it-container
		.it-all-title
			|    Цены на лечение онкологических заболеваний
		.it-all-subtitle
			|    За подробной информацией обращайтесь в официальное представительство МЦА в
			br
			|Тюмени по адресу: ул. Республики, 61, оф. 713, тел. +7 (3452) 73-96-69; +7 (919) 934-81-55.
		.it-price__wrap
			ul.it-price__list(data-it-accord-wrap='')
				li.it-price__item
					.it-price__toggle(data-it-accord-toggle='')
						h3.it-price__title Общие обследования:
						.it-price__sign-wrap(data-it-sign='')
					.it-price__content(data-it-accord-item='')
						.it-price__desc
							ul.it-price__list
								li.it-price__list-item
									.it-price__item-half.it-price__item-half--left
										| ПЭТ/КТ
									.it-price__item-half.it-price__item-half--center
										.it-price__buttons
											a(href="#it-modal-callback").it-price__btn.it-btn.it-btn--transparent(data-fancybox)
												|	Узнать подробнее
									.it-price__item-half.it-price__item-half--right
										| 10000-20000 $
								li.it-price__list-item
									.it-price__item-half.it-price__item-half--left
										| Консультации врачей других специальностей. В стоимость входят все консультации в течение 14 дней.
									.it-price__item-half.it-price__item-half--center
										.it-price__buttons
											a(href="#it-modal-callback").it-price__btn.it-btn.it-btn--transparent(data-fancybox)
												|	Узнать подробнее
									.it-price__item-half.it-price__item-half--right
										| 120 $
								li.it-price__list-item
									.it-price__item-half.it-price__item-half--left
										| Консультация медицинского онколога. В стоимость входят все консультации в течение 14 дней.
									.it-price__item-half.it-price__item-half--center
										.it-price__buttons
											a(href="#it-modal-callback").it-price__btn.it-btn.it-btn--transparent(data-fancybox)
												|	Узнать подробнее
									.it-price__item-half.it-price__item-half--right
										| 160 $
				li.it-price__item
					.it-price__toggle(data-it-accord-toggle='')
						h3.it-price__title Общие обследования:
						.it-price__sign-wrap(data-it-sign='')
					.it-price__content(data-it-accord-item='')
						.it-price__desc
							ul.it-price__list
								li.it-price__list-item
									.it-price__item-half.it-price__item-half--left
										| ПЭТ/КТ
									.it-price__item-half.it-price__item-half--center
										.it-price__buttons
											a(href="#it-modal-callback").it-price__btn.it-btn.it-btn--transparent(data-fancybox)
												|	Узнать подробнее
									.it-price__item-half.it-price__item-half--right
										| 10000-20000 $
								li.it-price__list-item
									.it-price__item-half.it-price__item-half--left
										| Консультации врачей других специальностей. В стоимость входят все консультации в течение 14 дней.
									.it-price__item-half.it-price__item-half--center
										.it-price__buttons
											a(href="#it-modal-callback").it-price__btn.it-btn.it-btn--transparent(data-fancybox)
												|	Узнать подробнее
									.it-price__item-half.it-price__item-half--right
										| 120 $
								li.it-price__list-item
									.it-price__item-half.it-price__item-half--left
										| Консультация медицинского онколога. В стоимость входят все консультации в течение 14 дней.
									.it-price__item-half.it-price__item-half--center
										.it-price__buttons
											a(href="#it-modal-callback").it-price__btn.it-btn.it-btn--transparent(data-fancybox)
												|	Узнать подробнее
									.it-price__item-half.it-price__item-half--right
										| 160 $
			.it-price__buttons.it-price__buttons--show-mobile
				a(href="#it-modal-callback").it-price__btn.it-btn(data-fancybox)
					|    Узнать подробнее

