section.it-residence.it-all--indent
	.it-all-title
		|	Проживание в 4-звездочном отеле
	.it-container.it-container--full
		.it-residence__wrap
			.it-residence__half.it-residence__half--left
				.it-residence__inner-wrap
					.it-residence__top(data-slick-show-big)
						.it-residence__img-box
							img.it-residence__img(src="static/img/anadolu/residence/1_big.jpg", alt='')
						.it-residence__img-box
							img.it-residence__img(src="static/img/anadolu/residence/2_big.jpg", alt='')
						.it-residence__img-box
							img.it-residence__img(src="static/img/anadolu/residence/3_big.jpg", alt='')
						.it-residence__img-box
							img.it-residence__img(src="static/img/anadolu/residence/4_big.jpg", alt='')
					.it-residence__previews-wrap(data-slick-previews)
						.it-residence__preview-img-box
							img(src="static/img/anadolu/residence/1.jpg", alt='').it-residence__preview-img
						.it-residence__preview-img-box
							img(src="static/img/anadolu/residence/2.jpg", alt='').it-residence__preview-img
						.it-residence__preview-img-box
							img(src="static/img/anadolu/residence/3.jpg", alt='').it-residence__preview-img
						.it-residence__preview-img-box
							img(src="static/img/anadolu/residence/4.jpg", alt='').it-residence__preview-img
			.it-residence__half.it-residence__half--right
				.it-residence__content
					.it-residence__title
						|	Гостиница «Титаник»
					.it-residence__desc
						p
							|	Гостиница  исключительно для пациентов и их близких. Ресторан с видом на море, круглосуточные услуги врача и службы экстренной помощи, трансфер.
						p
							|	Номера с мини-кухней, видом на море и лес, номера для инвалидов с кислородной системой дыхания. Рядом с отелем есть магазин, парикмахерская, аптека.