section.it-reviews
	.it-all-title
		|	Отзывы пациентов
	.it-container.it-container--full
		ul.it-reviews__wrap(data-add-owl-carousel)
			li.it-reviews__item
				.it-reviews__video-box
					iframe(width='100%', height='100%', src='https://www.youtube.com/embed/v4ahIOt9rAE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__content
					.it-reviews__name
						|    Флюра, г. Тюмень, лечение 2013-2014 год
					.it-reviews__status
						|    Полная ремиссия на сегодняшний день
			li.it-reviews__item
				.it-reviews__video-box
					iframe(width='100%', height='100%', src='https://www.youtube.com/embed/v4ahIOt9rAE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__content
					.it-reviews__name
						|    Флюра, г. Тюмень, лечение 2013-2014 год
					.it-reviews__status
						|    Полная ремиссия на сегодняшний день
			li.it-reviews__item
				.it-reviews__video-box
					iframe(width='100%', height='100%', src='https://www.youtube.com/embed/v4ahIOt9rAE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__content
					.it-reviews__name
						|    Флюра, г. Тюмень, лечение 2013-2014 год
					.it-reviews__status
						|    Полная ремиссия на сегодняшний день
			li.it-reviews__item
				.it-reviews__video-box
					iframe(width='100%', height='100%', src='https://www.youtube.com/embed/v4ahIOt9rAE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__content
					.it-reviews__name
						|    Флюра, г. Тюмень, лечение 2013-2014 год
					.it-reviews__status
						|    Полная ремиссия на сегодняшний день
			li.it-reviews__item
				.it-reviews__video-box
					iframe(width='100%', height='100%', src='https://www.youtube.com/embed/v4ahIOt9rAE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__content
					.it-reviews__name
						|    Флюра, г. Тюмень, лечение 2013-2014 год
					.it-reviews__status
						|    Полная ремиссия на сегодняшний день
			li.it-reviews__item
				.it-reviews__video-box
					iframe(width='100%', height='100%', src='https://www.youtube.com/embed/v4ahIOt9rAE', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__content
					.it-reviews__name
						|    Флюра, г. Тюмень, лечение 2013-2014 год
					.it-reviews__status
						|    Полная ремиссия на сегодняшний день
