section.it-stages
	.it-container
		.it-all-title
			|	Этапы лечения
		.it-all-subtitle
			|	Переведем документы и скоординируем все этапы, включая перелет, бронь гостиницы и трансфер.
	ul.it-stages__wrap
		li.it-stages__item.it-stages__item--bg-shadow.it-stages__item--bg1.it-stages__item--mod1
			.it-container
				.it-stages__top.it-all--hide-mobile
					.it-stages__numeric
						.it-stages__numeric-number
							|	1
						.it-stages__numeric-text
							|	Консультация
				.it-stages__bottom
					ul.it-stages__bottom-list(data-add-owl-carousel)
						li.it-stages__bottom-item
							.it-stages__title
								|	Отправьте заявку
							.it-stages__desc
								p
									|	Заполните анкету и отправьте на почту anadolu.tymen@gmail.com.
									br
									a(href="#", ).it-stages__link
										| &#32; Скачать анкету.
								p
									|    Также вы можете
									a(href="#it-modal-questionary" data-fancybox).it-stages__link
										|	заполнить все необходимые поля прямо сейчас.
						li.it-stages__bottom-item
							.it-stages__title
								|	Получите и обдумайте ответ
							.it-stages__desc
								p
									|	Бесплатно переведем на английский данные вашей анкеты и отправим в клинику Anadolu. В течение 48 часов врачи рассмотрят вашу ситуацию, определят срочность лечения и  стоимость.
						li.it-stages__bottom-item.it-stages__bottom-item--color
							.it-stages__title
								|    Вы ничего не платите
								br
								| до прилета в Турцию
							.it-stages__desc
								p
									|    Все расчеты за лечение только
									br
									| после обследования.
							.it-stages__buttons
								a(href="#it-modal-callback").it-stages__btn.it-btn(data-fancybox=)
									|	Узнать подробнее
		li.it-stages__item.it-all--hide-mobile
			.it-container
				.it-stages__inner-wrap
					.it-stages__half.it-stages__half--left
						.it-stages__numeric
							.it-stages__numeric-number.it-stages__numeric-number--border
								|	2
							.it-stages__numeric-text.it-stages__numeric-text--color
								|   Перелет в клинику
					.it-stages__half.it-stages__half--right
						.it-stages__content
							ul
								li
									.it-stages__title
										|	Поможем срочно получить загранпаспорт за 3-4 дня
									.it-stages__desc
										|	Поможем оформить все документы. Затем пациент самостоятельно оплачивает перелет в Турцию, а представитель встречает его в аэропорту Стамбула и сопровождает в отель (4 звезды) на территории онкологического центра.
								li
									.it-stages__title
										|	Все вопросы регистрации решим заранее
									.it-stages__desc
										|    Проживание и назначение консультаций оформим еще до прибытия в страну. В регистратуре пациент получит анкету на родном языке, а консультант поможет правильно ее заполнить. После этого пациенту выдадут браслет с информацией о стране проживания, родном языке, паспортными данными и ID-номером.
								li
									.it-stages__title
										|	Знакомство с лечащим врачом
									.it-stages__desc
										|	После того, как пациент пройдет диагностические исследования (обычно ПЭТ-КТ и пересмотр патологических блоков), лечащий врач детально изложит план лечения, обозначит риски и ответит на все вопросы.  Лечение начинается в тот же день под наблюдением лечащего врача и его команды.
		li.it-stages__item.it-stages__item--bg-shadow.it-stages__item--bg2.it-stages__item--bg2.it-all--hide-mobile
			.it-container
				.it-stages__inner-wrap
					.it-stages__half.it-stages__half--left
						.it-stages__numeric
							.it-stages__numeric-number
								|	3
							.it-stages__numeric-text
								|   Лечение и
								br
								|	реабилитация
					.it-stages__half.it-stages__half--right
						.it-stages__content.it-stages__content--inner-indent
							.it-stages__title
								|    Мы продолжаем консультировать пациентов после лечения
							ul
								li
									.it-stages__desc
										|	В зависимости от степени заболевания и результатов анализов, лечение будет проходить амбулаторно или в стационаре. Пациенту может быть назначена операция, если его состояние здоровья позволяет ее выполнить.
								li
									.it-stages__desc
										|    После реабилитации и возвращения домой пациент в любое время может получить бесплатную консультацию врача через представителя в родном городе.
