section.it-sub-offer
	.it-container
		.it-sub-offer__wrap
			.it-sub-offer__half.it-sub-offer__half--left
				include directions
			.it-sub-offer__half.it-sub-offer__half--right
				.it-sub-offer__search-wrap
					include search